<!DOCTYPE html>
<html>
<head>
    <title>CEDT - Partlister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  
</head>

<%= yield %>
  <%= javascript_include_tag "application" %>

<script
</html>
